/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.tender-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 300px;
}

.tender-details {
    padding: 20px;
}

.tender-photos {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.tender-photos img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.download-button {
    text-align: center;
    margin-top: 10px;
}

.download-button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button a:hover {
    background-color: #0056b3;
}
